<div class="wrapper" dragndrop (onDrop)="onDropElement($event)">
  <div
    class="container"
    [ngClass]="{'horizontal':direction == 'horizontal','vertical':direction == 'vertical', 'flow1':flowDirection==1}"
    #container
  >
    <div
      class="element"
      *ngFor="let el of _content"
      [ngClass]="{'has-children': el.children?.length && flowDirection == 1 || (flowDirection != 1 && el.parent), 'flow1': flowDirection==1}"
    >
      <div class="inner-content" #innerContent id="el-{{el.index}}">
        <span>{{el.content}} </span>
      </div>
    </div>
  </div>
  <div class="arrows" #arrowsContainer>
    <svg *ngFor="let el of _content" class="arrow">
      <line
        #arrow
        *ngIf="el.nextId"
        x1="0"
        y1="0"
        x2="0"
        y2="0"
        stroke="black"
        id="arrow-{{el.index}}"
      />
    </svg>
  </div>
</div>
