.element {
  position: absolute;
  min-width: 150px;
  min-height: 50px;
  border: 1px dotted #cccccc;
  background-color: #fefefe;
  z-index: 5;
  cursor: pointer;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.arrows {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
  background-color: #bebebe;
}

.container .element.has-children::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  justify-self: center;
  margin: auto;
}

.container.horizontal .element.has-children.flow1::after {
  right: -10px;
  top: 0;
  bottom: 0;
  border-top: 5px solid transparent;
  border-right: 10px solid black;
  border-bottom: 5px solid transparent;
}

.container.horizontal .element.has-children:not(.flow1)::after {
  left: -10px;
  top: 0;
  bottom: 0;
  border-top: 5px solid transparent;
  border-left: 10px solid black;
  border-bottom: 5px solid transparent;
}

.container.vertical .element.has-children.flow1::after {
  bottom: -10px;
  left: 0;
  right: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid black;
}

.container.vertical .element.has-children:not(.flow1)::after {
  top: -10px;
  left: 0;
  right: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid black;
}

.element .inner-content {
  display: flex;
  height: 50px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.element .inner-content span {
  margin: auto;
}

.arrow {
  position: absolute;
}

:host {
  height: 100% !important;
  display: block !important;
}
